@model GreenProgrammerz.Model.Model.Purchase
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add Purchase</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body>
    <div>
        <h2>Purchase</h2>
        <form method="post">
            <center>
                <fieldset style="background-color: 	#ADD8E6">
                    <table>
                        <tr>
                            @*<b>Id</b>
                            <br>
                            <input name="id"/>
                            <br>*@
                            <b>Date</b>
                            <br>
                            <input type="date" name="bday"/>
                            <br>
                            <b>Bill/Invoice</b>
                            <br>
                            <input name="billInvoice"/>
                            <br>
                            <b>Supplier Name</b>
                            <br>
                            <input name="supplierName"/>
                            <br>
                            <b>Category</b>
                            <br>
                            <input name="category"/>
                            <br>
                            <b>Products</b>
                            <br>
                            <input name="products"/>
                            <br>
                            <b>Code</b>
                            <br>
                            <input name="code"/>
                            <br>
                            <b>Available Quantity</b>
                            <br>
                            <input name="availableQuantity"/>
                            <br>
                            <b>Manufactured Date</b>
                            <br>
                            <input name="manufacturedDate"/>
                            <br>
                            <b>Expire Date</b>
                            <br>
                            <input name="expireDate"/>
                            <br>
                            <b>Remarks</b>
                            <br>
                            <input name="remarks"/>
                            <br>
                            <b>Quantity</b>
                            <br>
                            <input name="quantity"/>
                            <br>
                            <b>Unit Price</b>
                            <br>
                            <input name="unitPrice"/>
                            <br>
                            <b>Total Price</b>
                            <br>
                            <input name="totalPrice"/>
                            <br>
                            <b>Previous Unit Price</b>
                            <br>
                            <input name="previousUnitPrice"/>
                            <br>
                            <b>Previous MRP</b>
                            <br>
                            <input name="previousMRP"/>
                            <br>
                            <b>MRP</b>
                            <br>
                            <input name="mRP"/>
                            <br>
                            <button class="btn btn-primary m-3">Save</button>
                        </tr>
                    </table>
                </fieldset>
                <br />
            </center>

        </form>
    </div>
</body>
</html>


