@*@model GreenProgrammerz.Model.Model.PurchaseDetails*@
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add Purchase</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    @*<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>*@

</head>
<body>
    <div>
        <h2>Purchase</h2>
        <form method="post">

            <fieldset style="background-color: 	#ADD8E6">
                <table>

                    <tr>
                        <b>Date</b>
                        <br>
                        <input type="date" name="date" @*id="Date"*@ />
                        <br>
                        <b>Bill/Invoice</b>
                        <br>
                        <input name="billInvoice" @*id="BillInvoice"*@ />
                        <br>
                        <b>Supplier Name</b>
                        <br>
                        <input name="supplierName" @*id="SupplierName"*@ />
                        <br>
                        <b>Category</b>
                        <br>
                        <input name="category" id="Category" />
                        <br>
                        <b>Products</b>
                        <br>
                        <input name="products" id="Products" />
                        <br>
                        <b>Code</b>
                        <br>
                        <input name="code" id="Code" />
                        <br>
                        <b>Available Quantity</b>
                        <br>
                        <input name="availableQuantity" id="AvailableQuantity" />
                        <br>
                        <b>Manufactured Date</b>
                        <br>
                        <input type="date" name="manufacturedDate" id="ManufacturedDate" />
                        <br>
                        <b>Expire Date</b>
                        <br>
                        <input type="date" name="expireDate" id="ExpireDate" />
                        <br>
                        <b>Remarks</b>
                        <br>
                        <td>
                            <input name="remarks" id="Remarks" />
                            <br>
                            <b>Quantity</b>
                            <br>
                            <input name="quantity" id="Quantity" />
                            <br>
                            <b>Unit Price</b>
                            <br>
                            <input name="unitPrice" id="UnitPrice" />
                            <br>
                            <b>Total Price</b>
                            <br>
                            <input name="totalPrice" id="TotalPrice" />
                            <br>
                            <b>Previous Unit Price</b>
                            <br>
                            <input name="previousUnitPrice" id="PreviousUnitPrice" />
                            <br>
                            <b>Previous MRP</b>
                            <br>
                            <input name="previousMRP" id="PreviousMRP" />
                            <br>
                            <b>MRP</b>
                            <br>
                            <input name="mrp" id="MRP" />
                            <br>
                            <button class="btn btn-primary m-3" id="save">Save</button>
                    </tr>

                </table>
            </fieldset>
            <br />

            <table>

                <tr>
                    <td>Sl</td>
                    @*<td>Date</td>
                    <td>BillInvoice</td>
                    <td>SupplierName</td>*@
                    <td>Category</td>
                    <td>Products</td>
                    <td>Code</td>
                    <td>AvailableQuantity</td>
                    <td>ManufacturedDate</td>
                    <td>ExpireDate</td>
                    <td>Remarks</td>
                    <td>Quantity</td>
                    <td>UnitPrice</td>
                    <td>TotalPrice</td>
                    <td>PreviousUnitPrice</td>
                    <td>PreviousMRP</td>
                    <td>MRP</td>
                </tr>

                <tbody id="PurchaseInformation"></tbody>
            </table>
        
        <table>
            <tr>
                <td><input type="submit" id="submit" value="Submit" /></td>
            </tr>
        </table>
        </form>
    </div>
<script src="~/Scripts/jquery-1.8.0.min.js"></script>
<script>

    $(document).ready(function () {
        var index = 0;

        $('#save').click(function () {
            var result = GetResultData();

            var resultRow = GerResultRow(result);

            $("#PurchaseInformation").append(resultRow);
            index++;
        });

        function GetResultData() {
            //var date = $('#Date').val();
            //var billInvoice = $('#BillInvoice').val();
            //var supplierName = $('#SupplierName').val();
            var category = $('#Category').val();
            var products = $('#Products').val();
            var code = $('#Code').val();
            var availableQuantity = $('#AvailableQuantity').val();
            var manufacturedDate = $('#ManufacturedDate').val();
            var expireDate = $('#ExpireDate').val();
            var remarks = $('#Remarks').val();
            var quantity = $('#Quantity').val();
            var unitPrice = $('#UnitPrice').val();
            var totalPrice = $('#TotalPrice').val();
            var previousUnitPrice = $('#PreviousUnitPrice').val();
            var previousMrp = $('#PreviousMRP').val();
            var mrp = $('#MRP').val();

            return {
                /*Date: date,BillInvoice: billInvoice,SupplierName: supplierName,*/Category: category, Products:
                    products, Code: code, AvailableQuantity: availableQuantity,
                ManufacturedDate: manufacturedDate, ExpireDate: expireDate, Remarks: remarks, Quantity: quantity,
                UnitPrice: unitPrice, TotalPrice: totalPrice, PreviousUnitPrice: previousUnitPrice,
                PreviousMRP: previousMrp, MRP: mrp
        }
        }

        var sl = index;
        function GerResultRow(result) {
            //var dateHidden = "<input type='hidden' name='PurchaseDetailses[" + index + "].Date' value='" + result.Date + "'></div>";
            //var billInvoiceHidden = "<input type='hidden' name='PurchaseDetailses[" + index + "].BillInvoice' value='" + result.BillInvoice + "'></div>";
            //var supplierNameHidden = "<input type='hidden' name='PurchaseDetailses[" + index + "].SupplierName' value='" + result.SupplierName + "'></div>";

            var categoryHidden = "<input type='hidden' name='PurchaseDetailses[" + index + "].Category' value='" + result.Category + "'></div>";
            var productsHidden = "<input type='hidden' name='PurchaseDetailses[" + index + "].Marks' value='" + result.Products + "'></div>";
            var codeHidden = "<input type='hidden' name='PurchaseDetailses[" + index + "].Marks' value='" + result.Code + "'></div>";
            var availableQuantityHidden = "<input type='hidden' name='PurchaseDetailses[" + index + "].Marks' value='" + result.AvailableQuantity + "'></div>";
            var manufacturedDateHidden = "<input type='hidden' name='PurchaseDetailses[" + index + "].Marks' value='" + result.ManufacturedDate + "'></div>";
            var expireDateHidden = "<input type='hidden' name='PurchaseDetailses[" + index + "].Marks' value='" + result.ExpireDate + "'></div>";
            var remarksHidden = "<input type='hidden' name='PurchaseDetailses[" + index + "].Marks' value='" + result.Remarks + "'></div>";
            var quantityHidden = "<input type='hidden' name='PurchaseDetailses[" + index + "].Marks' value='" + result.Quantity + "'></div>";
            var unitPriceHidden = "<input type='hidden' name='PurchaseDetailses[" + index + "].Marks' value='" + result.UnitPrice + "'></div>";
            var totalPriceHidden = "<input type='hidden' name='PurchaseDetailses[" + index + "].Marks' value='" + result.TotalPrice + "'></div>";
            var previousUnitPriceHidden = "<input type='hidden' name='PurchaseDetailses[" + index + "].Marks' value='" + result.PreviousUnitPrice + "'></div>";
            var previousMRPHidden = "<input type='hidden' name='PurchaseDetailses[" + index + "].Marks' value='" + result.PreviousMRP + "'></div>";
            var mRPHidden = "<input type='hidden' name='PurchaseDetailses[" + index + "].Marks' value='" + result.MRP + "'></div>";

            var startTr = "<tr>";
            var slCell = "<td class='text-success'>" + (++sl) + "</td>";
            //var dateCell = "<td class='text-success'>" + dateHidden + result.Date + "</td>";
            //var billInvoiceCell = "<td class='text-success'>" + billInvoiceHidden + result.BillInvoice + "</td>";
            //var supplierNameCell = "<td class='text-success'>" + supplierNameHidden + result.SupplierName + "</td>";

            var categoryCell = "<td class='text-success'>" + categoryHidden + result.Category + "</td>";
            var productsCell = "<td class='text-success'>" + productsHidden + result.Products + "</td>";
            var codeCell = "<td class='text-success'>" + codeHidden + result.Code + "</td>";
            var availableQuantityCell = "<td class='text-success'>" + availableQuantityHidden + result.AvailableQuantity + "</td>";
            var manufacturedDateCell = "<td class='text-success'>" + manufacturedDateHidden + result.ManufacturedDate + "</td>";
            var expireDateCell = "<td class='text-success'>" + expireDateHidden + result.ExpireDate + "</td>";
            var remarksCell = "<td class='text-success'>" + remarksHidden + result.Remarks + "</td>";
            var quantityCell = "<td class='text-success'>" + quantityHidden + result.Quantity + "</td>";
            var unitPriceCell = "<td class='text-success'>" + unitPriceHidden + result.UnitPrice + "</td>";
            var totalPriceCell = "<td class='text-success'>" +totalPriceHidden + result.TotalPrice + "</td>";

            var previousUnitPriceCell = "<td class='text-success'>" + previousUnitPriceHidden + result.PreviousUnitPrice + "</td>";
            var previousMRPCell = "<td class='text-success'>" + previousMRPHidden + result.PreviousMRP + "</td>";
            var mrpCell = "<td class='text-success'>" + mRPHidden + result.MRP + "</td>";

            var endTr = "</tr>";

            return (startTr + slCell +/*dateCell+billInvoiceCell+supplierNameCell+ */categoryCell + productsCell+codeCell+availableQuantityCell+
                manufacturedDateCell+expireDateCell+remarksCell+quantityCell+unitPriceCell+totalPriceCell+previousUnitPriceCell+
                previousMRPCell+mrpCell+ endTr);

        }

    });
</script>
</body>
</html>


