@model GreenProgrammerz.Model.Model.Supplier
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add Supplier</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div>
        <h2>Supplier</h2>
        <form method="post">
            <center>
                <fieldset style="background-color: #03FF11">
                    <table>
                        <tr>
                            <b>Code</b>
                            <br>
                            <input name="code" />
                            <br>
                            <b>Name</b>
                            <br>
                            <input name="name" />
                            <br>
                            <b>Address</b>
                            <br>
                            <input name="address" />
                            <br>
                            <b>Email</b>
                            <br>
                            <input name="email" />
                            <br>
                            <b>Contact</b>
                            <br>
                            <input name="contact" />
                            <br>
                            <b>Contact Person</b>
                            <br>
                            <input name="contactPerson" />
                            <br>
                            <button class="btn btn-primary m-3">Save</button>
                        </tr>
                    </table>
                </fieldset>
                <br />
            </center>

        </form>
    </div>
</body>
</html>

