
@*@{
    Layout = null;
}*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <div>
        <center><legend><b>Category</b></legend></center>
        @*<form action="/category/add">
            <button class="btn btn-success m-4">Add Category</button>
        </form>*@
        <button class="btn btn-success m-4" onclick="window.location.href = '/category/add';">Add Category</button>
        <button class="btn btn-success m-4" onclick="window.location.href = '/category/categoryupdate';">Update Category</button><br>
        @*<form action="/product/productadd">
            <button class="btn btn-success m-4">Product</button>
        </form>*@
        <center><legend><b>Product</b></legend></center>
        <button class="btn btn-success m-4" onclick="window.location.href = '/product/productadd';">Add Product</button>
        <button class="btn btn-success m-4" onclick="window.location.href = '/product/productupdate';">Update Product</button><br>
        <center><legend><b>Customer</b></legend></center>
        <button class="btn btn-success m-4" onclick="window.location.href = '/customer/customeradd';">Add Customer</button>

        <button class="btn btn-success m-4" onclick="window.location.href = '/customer/customerupdate';">Update Customer</button>
        @*<form action="/category/add">
            <button class="btn btn-success m-4">Customer</button>
        </form>*@

        <center><legend><b>Supplier</b></legend></center>

        @*<form action="/supplier/supplieradd">
            <button class="btn btn-info m-4">Supplier Add</button>
        </form>
        <form action="/supplier/supplierupdate">
            <button class="btn btn-info m-4">Supplier Update</button>
        </form>*@
        <button class="btn btn-info m-4" onclick="window.location.href = '/supplier/supplieradd';">Add Supplier</button>
        <button class="btn btn-info m-4" onclick="window.location.href = '/supplier/supplierupdate';">Update Supplier</button><br>
        <center><legend><b>Purchase</b></legend></center>
        <button class="btn btn-success m-4" onclick="window.location.href = '/purchase/purchaseadd';">Add Purchase</button>
        <button class="btn btn-success m-4" onclick="window.location.href = '/product/productupdate';">Update Purchase</button>





    </div>
</body>
</html>
